# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.monokle
.hg/
.hgignore
.svn/
# Common backup files
*.swo
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.monokle
.idea/
*.tmproj
.vscode/
# Temporary files
log/
logs/
tmp/
temp/

